<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:file:./db/mio_database;DB_CLOSE_DELAY=-1</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>

        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.user.User"/>
        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.user.Player"/>
        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.user.Enemy"/>
        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.user.Boss"/>
        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.user.Colosso"/>
        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.user.Mago"/>

        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.item.AbstractItem"/>
        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.item.Gun"/>
        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.item.Spell"/>
        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.item.Pickaxe"/>
        <mapping class="it.unicam.cs.mpgc.rpg125936.domain.material.Material"/>
    </session-factory>
</hibernate-configuration>